.navbar {
  position: fixed;
  height: 30px;
  width: 100%;
  top: 0;
  padding: 20px;
  z-index: 1;
  transition: all 0.5s ease-in;
}
.nav__black {
  background-color: #111;
}
.navbar__content {
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  position: fixed;
  left: 0;
  top: 25px;
  width: 80px;
  object-fit: cover;
  cursor: pointer;
  padding-left: 20px;
}
.navbar__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  height: 30px;
}
