.row {
  color: white;
  margin-left: 20px;
  overflow: scroll;
  position: relative;
  /* width: fit-content; */
}
.row::-webkit-scrollbar {
  display: none;
}
.row__posters {
  display: flex;

  /* overflow-y: hidden; */
  /* overflow-x: scroll; */
  width: max-content;
  padding: 20px;
  transition: transform 500ms;
}
.row__poster:hover {
  transform: scale(1.08);
}

.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  max-height: 150px;
  object-fit: cover;
  margin-right: 10px;
  transition: transform 450ms;
  width: 100%;
  cursor: pointer;
}
.row__posterLarge {
  max-height: 300px;
}

.icon {
  position: absolute;
  background-color: #ffffff93;
  top: 55%;
  width: 50px;
  height: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0.3;
  justify-content: center;
  transform: translateY(-50%);
  transition: all 0.2s;
}
.icon:hover {
  opacity: 1;
}
.right__icon {
  right: 0;
}
.left__icon {
  left: 20px;
}

.selectedImage {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(17, 17, 17, 0.87);
  z-index: 1000;
  padding: 2rem;
  color: white;
  overflow-y: scroll;
}
.selectedImage::-webkit-scrollbar {
  display: none;
}
.selectedImage > h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

.selected__image {
  width: 100%;
  height: 50vh;
  object-fit: contain;
}

.selected__content {
  display: flex;
  width: 60%;
  margin: 0 auto;
  flex-wrap: wrap;
  min-height: 40vh;
  justify-content: center;
  border-radius: 10px;
  padding: 1rem;
}
.selected__detail {
  flex: 1;
}
.selected__detail > h3 {
  color: red;
  margin-bottom: 10px;
}
.selected__detail > h4 {
  text-align: justify;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: 400;
}
